<?xml version="1.0" encoding="utf-8" ?>
<phpunit bootstrap="./vendor/autoload.php"
         colors="true"
         verbose="true"
         convertErrorsToExceptinos="true"
         convertNoticesToExceptinos="true"
         convertWarningToExceptinos="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Test Suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    <filters>
        <blacklist>
            <directory suffix=".php">./vendor</directory>
        </blacklist>
    </filters>
</phpunit>